/*
styles.section = assign({
    backgroundImage: "url(sup.jpg)",
    backgroundSize: "cover",
    backgroundPosition: "10%",
    minHeight: "40rem",
    position: "relative"
})

*/


.md-banner {
    .md();

    background-image: url("sup.jpg");
    background-size: cover;
    background-position: 10%;
    position: relative;

}

.md-banner--brand {
    position: absolute;
    left: 10%;
    bottom: 15rem;
}

/*
styles.brand = {
    fontSize: '2.8rem',
    textTransform: 'uppercase',
    color: colors.blueLighter,
    padding: 0,
    margin: 0,
    letterSpacing: '0.05rem',
    fontFamily: 'roboto condensed, helvetica, sans-serif'
}

styles.brandFri = {
    color: colors.blue
}

*/

.md-banner--register {
    .md-btn();

    position: absolute;
    bottom: 0;
    right: 0;
}
