.md-frode {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  transition: width 1s ease-in;

  background-color: @white;
}

.md-pres {
  flex-grow: 2;
  iframe {
    height: 100%;
    width: 100%;
  }
}

.md-container {
  display: inline-block;
  white-space: nowrap;
}

.u-compress {
  width: 0;
  overflow: hidden;
}

@media all and (max-width: 599px) and (min-width: 320px) {
    .md-frode {
      flex-direction: column-reverse;
      align-items: center;
    }
}

.md-frode--selfie {

  img {
    max-height: 20rem;
    box-shadow: -0.1rem 0.1rem 0.1rem @black;
  }
}

.md-frode--menu {

  p.item {
    .typo--info;
     display: flex;
     align-items: baseline;
     color: @grey;


    a {
        text-decoration: none;
        margin-left: 1.333rem;
        color: @grey;
    }

    .since {
        .typo--meta;
        text-align: right;
        margin-right: 0.667rem;
        color: @grey;
    }
  }

  p.name {
    .typo--brand;
    color: @green--darkest
  }
}
